.homepage-wrapper {
    display: grid;
    grid-template-columns: 1fr;

    .filter-links {
        display: flex;
        justify-content: center;

        .btn {
            width: 100%;
        }
    }

    .homepage-wrapper-title {
        padding-left: 10px;
        text-decoration: underline 2px solid $teal;
        margin-bottom: 5px;
        font-weight: 500;
    }
}